/* Christmas theme style */

body.christmas-theme .sidebar {
    background: rgba(104, 19, 19, 0.8);
    backdrop-filter: blur(2.5px);
}

body.christmas-theme .sidebar ul li {
     color: rgb(0, 135, 50);
}

body.christmas-theme .wrapper .sidebar ul a li:hover {
  background: #4e0a0a;
  color: rgb(0, 135, 50);
}

body.christmas-theme .sidebar h2 {
  color: rgb(0, 104, 174);
}
  
body.christmas-theme .wrapper .sidebar ul a li.selectedButton {
  background: rgb(0, 135, 50); /* Highlighted background for selected button */
  color: black;
}