/* Christmas theme style */
body.christmas-theme body {
  background: #00873E;
}

body.christmas-theme .title {
  color: white;
}

body.christmas-theme .sidebar {
    background: rgba(57, 100, 255, 0.5);
    backdrop-filter: blur(2.5px);
}

body.christmas-theme .sidebar ul li {
     color: rgb(255, 255, 255);
}

body.christmas-theme .wrapper .sidebar ul a li:hover {
  background: rgba(0, 8, 38, 0.5);
  color: rgb(255, 255, 255);
}

body.christmas-theme .sidebar h2 {
  color: white;
}
  
body.christmas-theme .wrapper .sidebar ul a li.selectedButton {
  background: #00d161; /* Highlighted background for selected button */
  color: black;
}

body.christmas-theme::-webkit-scrollbar-thumb {
  background: rgba(57, 100, 255, 0.5);
}

body.christmas-theme::-webkit-scrollbar-thumb:hover {
  background: rgba(38, 67, 173, 0.5);
}

body.christmas-theme::-webkit-scrollbar-thumb:active {
  background: rgba(25, 44, 113, 0.5);
}

body.christmas-theme::-webkit-scrollbar-track {  
  background-color: #00873E;
}

body.christmas-theme .alert {
  background-color: rgba(201, 53, 53, 0.8);
}

body.christmas-theme #navbar {
  background: rgba(57, 100, 255, 0.5);
  backdrop-filter: blur(2.5px);
}

.selectButton:hover {
    border: none;
    background-color: rgba(0, 8, 38, 0.5);
}

body.christmas-theme .selectedButton {
    background: #00d161;
}

body.christmas-theme input[type=text] {
  border: 2px rgba(255, 255, 255, 0.5);
  background-color: rgba(57, 100, 255, 0.5);
  background-image: url('https://img.icons8.com/material-outlined/24/000000/search--v1.png');
}

body.christmas-theme #myinput::placeholder {
  color: white;
}

body.christmas-theme .settings-content {
  background: rgba(57, 100, 255, 0.5);
  backdrop-filter: blur(2px);
}